.course-prof {
	width: 280px;
	float: left;
  	width: 20%;
  	height: 600px;
  	background-color: ;
}
.course-prof-header {
  text-align: center;
  padding-top: 1px;
}

.h3 .h4 {
  padding: 0;
  margin: 0;
  
}