@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400);
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

* {
  font-family: inherit;
  box-sizing: border-box;
}

i, li, #term {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: 400;
}

h2.line {
  height: 4px;
  width: 100%;
  text-align: center;
  line-height: 1px;
  border-bottom: 3px solid #FBBB18;
  color: #176C96;
  margin: 1em 0 1em;
}

h2.line span {
  background-color: #fff;
  padding: 0 0.5em;
}

p {
  margin: 0.5em 1em;
}

body {
  font-family: "Open Sans";
  font-weight: 300;
}

@keyframes blink {
  0%, 80%, 100% { transform: scale(0) }
  40% { transform: scale(1) }
}

.center {
  position: absolute;
  top: calc(50% - 60px);
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.circle {
  width: 10px;
  height: 10px;
  margin: 5px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.9);
  display: inline-block;
  animation: blink 2s infinite ease-in-out both;
}

h2.line .loading {
  display: inline-block;
  height: 20px;
  transform: translateY(-8px);
}

h2.line .circle {
  background-color: #176c96;
}

.circle:nth-child(1) {
  animation-delay: -400ms;
}
.circle:nth-child(2) {
  animation-delay: -200ms;
}

#sidebar {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 300px;
  z-index: 10;
  background-color: #176C96;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
}

#logo {
  font-size: 1.7em;
  font-weight: 400;
  height: 70px;
  line-height: 70px;
  color: #fff;
  text-align: center;
  text-shadow: 1px 1px 4px rgba(0,0,0,0.3);
  border-bottom: 1px solid rgba(0,0,0,0.1);
  background: rgba(0, 0, 0, 0.5) url(logo.png) no-repeat center center;
  background-size: 80%;
}

.md-18 {
  font-size: 18px;
}

#searchbar {
  border-bottom: 1px solid rgba(0,0,0,0.1);
}

#term {
  position: relative;
  cursor: pointer;
  width: 35%;
}

#search {
  width: 65%;
  background-color: rgba(0,0,0,0.3);
}

#term:hover {
  background-color: rgba(0,0,0,0.1);
}

#term:active {
  background-color: rgba(0,0,0,0.2);
}

.material-icons.left,
.material-icons.right {
  position: absolute;
  top: 50%;
}

.material-icons.left {
  left: 0;
  transform: translate(50%, -50%);
}

.material-icons.right {
  right: 0;
  transform: translate(-50%, -50%);
}

#clear {
  cursor: pointer;
  color: rgba(255, 255, 255, 0.5);
}

#clear:hover {
  color: rgba(255, 255, 255, 0.7);
}


#clear:active {
  color: rgba(255, 255, 255, 0.9);
}

#term, #search {
  position: relative;
  padding: 0 10px;
  display: inline-block;
  color: #fff;
  font-size: 1.25em;
  height: 50px;
  line-height: 50px;
}

#search input {
  border: 0;
  outline: none;
  background: transparent;
  color: #fff;
  font: inherit;
  height: 100%;
  width: 100%;
  padding: 0 1em;
}

.col {
  display: table-cell;
/*   display: block;
  float: left; */
/*   margin: 1% 0 1% 1.6%; */
}

.col:not(:last-child) {
  padding-right: 2%;
}

.m10 { width: 10%; }
.m20 { width: 20%; }
.m30 { width: 30%; }
.m40 { width: 40%; }
.m50 { width: 50%; }
.m60 { width: 60%; }
.m70 { width: 70%; }
.m80 { width: 80%; }
.m90 { width: 90%; }
.m100 { width: 100%; }

.colgroup {
  display: table;
  width: 100%;
  padding: 0;
  margin: 0;
}

.group:after {
  clear: both;
}

.big {
  font-size: 1.7em;
}

.dept {
  font-size: 1.3em;
  line-height: 1em;
  font-weight: 400;
}

.num {
  font-size: 1.1em;
}

.title {
  font-size: 0.7em;
  line-height: 1.2em;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.darken {
  position: fixed;
/*  pointer-events: none;*/
  width: 300px;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#term_list {
/*   width: 100%; */
/*  background-color: rgba(0,0,0,0.5);*/
  color: #fff;
  overflow: hidden;
}

#term:not(.expand) ~ #term_list {
  height: 0;
}

#term_list li {
  cursor: default;
  padding: 0.8em;
  background-color: rgba(0, 0, 0, 0.1);
}

#term_list li:hover {
  background-color: rgba(255,255,255,0.1);
}

#term_list li:active {
  color: #000;
  background-color: rgba(255,255,255,0.8);
}

#course_list {
  position: relative;
  height: calc(100% - 120px);
/*   width: 100%; */
  color: #fff;
  overflow-x: hidden;
  overflow-y: scroll;
/*   background-color: rgba(0,0,0,0.1); */
/*   padding-top: 10px; */
}

#course_list li {
  cursor: default;
  padding: 0.8em;
  border-bottom: 1px solid rgba(0,0,0,0.1);
}

#course_list li:hover {
  background-color: rgba(0,0,0,0.1);
}

#course_list li:active {
  background-color: rgba(0,0,0,0.2);
}

#course_list li.selected {
  color: rgba(0,0,0,0.8);
  background-color: #FBBB18;
}

#course_title {
  position: relative;
  font-size: 1.5rem;
}

#course_units {
  position: absolute;
  text-align: center;
  right: 0;
  top: 0;
}

#navbar {
  position: fixed;
  top: 0;
  left: 300px;
  height: 120px;
  width: calc(100% - 300px);
  padding: 1em 2em 0;
  background-color: #fff;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
  z-index: 9;
}

#navbar ul, #navbar li {
  display: inline;
  text-align: center;
}

#navbar ul {
  position: absolute;
  display: inline-block;
  width: 500px;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
}

#navbar ul.w1 {
  width: 200px;
}

#navbar ul.w2 {
  width: 350px;
}

#navbar a {
  display: inline-block;
  width: 33.33%;
  padding: 0.5em 0;
  margin: 0;
  font-size: 1.2rem;
  text-decoration: none;
  color: #333;
}

#navbar ul > hr {
  width: 33.33%;
  height: 5px;
  margin: 0;
  background-color: #176C96;
  border: none;
  -webkit-transition: margin-left 200ms ease-out;
}

#navbar .w1 > hr,
#navbar .w1 a { width: 100%; }

#navbar .w2 > hr,
#navbar .w2 a { width: 50%; }

#navbar .t1.w3 > hr { margin-left: 0; }
#navbar .t2.w3 > hr { margin-left: 33.33%; }
#navbar .t3.w3 > hr { margin-left: 66.66%; }

#navbar .t1.w2 > hr { margin-left: 0; }
#navbar .t2.w2 > hr { margin-left: 50%; }

#content, #content_placeholder {
  position: absolute;
  top: 120px;
  left: calc(50% + 150px);
  width: calc(100% - 300px);
  max-width: 70%;
  transform: translateX(-50%);
  /*   height: 1000px; */
  z-index: 0;
  margin: 0 auto;
  padding: 0 2rem;
}

#content_placeholder {
  color: #bbb;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  top: 0;
  bottom: 0;
}

.section {
  padding-top: 2rem;
}

#sections {
  padding-bottom: 1em;
}

#sections_table {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}

#sections_table th {
  font-weight: 400;
}

#sections_table td {
  vertical-align: middle;
  height: 1em;
  font-size: 0.9em;
}

#sections_table tbody > tr:first-child > td:first-child:not(.nosubs) {
  cursor: pointer;
}

#sections_table tbody:not(:last-child)::after,
#sections_table thead::after {
  content: '';
  display: block;
  height: 0.75em;
}

#sections_table tr br {
  background: #f00;
  height: 0.75em;
}

#sections_table tr.section {
  background-color: #176c96;
  color: #fff;
  font-weight: 400;
}

#sections_table tr.subsection:hover {
/*   background-color: #176c96; */
/*   color: #fff; */
  background-color: #fbbb18;
}

#sections_table tr.subsection td:first-child,
#sections_table tr.subsection td:last-child {
  background-color: #fff;
}

#sections_table i {
  line-height: 1.2em;
}

#comps {
  width: 100%;
  overflow-x: scroll;
  text-align: center;
  white-space: nowrap;
  padding-bottom: 1.5em;
}

.comp {
  overflow: hidden;
  text-overflow: ellipsis;
  width: 220px;
  display: inline-block;
  margin: 0.5em;
  vertical-align: top;
  padding-bottom: 1em;
/*  background-color: #176c96;*/
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.3);
}

.comp:first-child {
  margin-left: 0;
}

.comp .prof_name {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  background-color: #176c96;
  color: #fff;
  padding: 0.5em 0.25em;
  font-weight: 400;
/*  border-bottom: 2px solid #fbbb18;*/
  margin-bottom: 0.75em;
}

.comp a i {
  font-size: 1em;
}

.comp a { color: #ccc; }
.comp a:hover { color: #aaa; }
.comp a:active { color: #555; }

.data-cell {
  margin: 0.5em 0 1em;
}

.data-title {
  font-size: 0.9em;
  line-height: 0.5em;
}

.grade-dist-chart {
  position: relative;
}

.grade-dist-chart svg {
  position: relative;
  z-index: 1;
}

.grade-dist-chart::after {
  content: "no grade distribution";
  color: #000;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  z-index: 0;
  transform: translate(-50%, -50%);
}

#link {
  position: fixed;
  right: 0.5em;
  bottom: 0.5em;
  font-size: 2rem;
  width: 1.5em;
  height: 1.5em;
  line-height: 1.75em;
  text-align: center;
  border-radius: 100%;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.5);
  background-color: #176C96;
  z-index: 100;
  color: #fff;
}

#link i {
  font-size: 1em;
}

.hide {
  position: absolute;
  visibility: hidden;
  height: 0;
  overflow: hidden;
  pointer-events: none;
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}
 
::-webkit-scrollbar-track {
	background-color: rgba(0, 0, 0, 0.2);
}
 
::-webkit-scrollbar-thumb {
	background-color: rgba(0, 0, 0, 0.5);
}