<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="main.css" type="text/css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/rivets/0.8.1/rivets.bundled.min.js" type="text/javascript"></script>
  <script src="catalog.json" type="text/javascript"></script>
  <script src="main.js" type="text/javascript"></script>
</head>
<body>
  <div id="app" style="display: none">
    <div class="col col-25">
      <div id="term">
        <select rv-value="app.term" rv-on-change="app.select_term">
          <option selected="selected" value="catalog">Catalog</option>
          <option rv-value="term.term_id" rv-each-term="app.terms">{term.term_name}</option>
        </select>
      </div>
      <input type="text" id="search" placeholder="search..." autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" rv-value="app.search" />
      <ul id="courses">
        <li rv-each-course="app.courses | search app.search" rv-class-selected="course | eq app.course" rv-on-click="app.select_course">
          <span class="dept">{course.course_id | grab 0}</span>
          <span class="num">{course.course_id | grab 1}</span>
          &thinsp;<span class="title">{course.course_name | case "lower"}</span>
        </li>
      </ul>
    </div>
    <div class="col col-75">
      <div id="course-details">
        <div id="course-name">
          <span class="dept">{app.course.course_id | grab 0}</span>
          <span class="num">{app.course.course_id | grab 1}</span>
          &thinsp;<span class="title">{app.course.course_name | case "lower"}</span>
        </div>
        <div id="course-units" rv-show="app.course.units | def">
          <span class="dept">{app.course.units}</span><br />
          <span class="title">units</span>
        </div>
      </div>
      <div id="tabview">
        <ul id="tabs">
          <li rv-class-selected="app.tab | eq 0" rv-on-click="app.select_tab" value="0">Overview</li>
          <li rv-class-selected="app.tab | eq 1" rv-class-greyed="app.show_catalog" rv-on-click="app.select_tab" value="1">Sections</li>
          <li rv-class-selected="app.tab | eq 2" rv-class-greyed="app.show_catalog" rv-on-click="app.select_tab" value="2">Ratings</li>
          <li rv-class-selected="app.tab | eq 3" rv-class-greyed="app.show_catalog" rv-on-click="app.select_tab" value="3">Notify Me</li>
        </ul>
        <div id="tab_content">
          <div rv-show="app.tab | eq 0"><!-- overview -->
            <div class="col col-60" rv-class-col-100="app.show_catalog">
              <h3>Description</h3>
              <p>{app.course.description}</p>
              <br />
              <h3>Prerequisites</h3>
              <p>{app.course.prereqs}</p>
            </div>
            <div class="col col-40" rv-hide="app.show_catalog">
              <span rv-show="app.course.gpa | def">
                <h3>Average Grade</h3>
                <p><span class="big">{app.course.gpa | fixed 2} </span>{app.course.gpa | letter}</p>
                <br />
              </span>
              <span rv-show="app.course.workload | def">
                <h3>Average Workload</h3>
                <p><span class="big">{app.course.workload} </span>hrs/wk</p>
                <br />
              </span>
              <span rv-show="app.course.seats | def">
                <h3>Seats Available</h3>
                <p>
                  <span class="big">{app.course.seats}</span>
                  <br />across {app.course.sections | len} sections
                </p>
              </span>
            </div>
          </div>
          <div rv-show="app.tab | eq 1"><!-- sections -->
            <div class="col col-100">
              <table id="sections">
                <thead>
                  <tr>
                    <th></th>
                    <th>Section</th>
                    <th>ID</th>
                    <th>Type</th>
                    <th>Days</th>
                    <th>Time</th>
                    <th>Location</th>
                    <th>Professor</th>
                    <th>Seats</th>
                    <th>Waitlist</th>
                  </tr>
                </thead>
                <tbody rv-each-section="app.course.sections">
                  <tr class="section" rv-on-click="app.toggle_expand" rv-class-expanded="section.expanded">
                    <td>&#9654;</td>
                    <td>{section.section}</td>
                    <td>{section.id}</td>
                    <td>{section.type}</td>
                    <td>{section.days}</td>
                    <td>{section.time}</td>
                    <td>{section.location}</td>
                    <td>{section.professor}</td>
                    <td>{section.seats}</td>
                    <td>{section.waitlist}</td>
                  </tr>
                  <tr class="subsection" rv-each-subsection="section.subsections" rv-show="section.expanded">
                    <td></td>
                    <td>{subsection.section}</td>
                    <td>{subsection.id}</td>
                    <td>{subsection.type}</td>
                    <td>{subsection.days}</td>
                    <td>{subsection.time}</td>
                    <td>{subsection.location}</td>
                    <td>{subsection.professor}</td>
                    <td>{subsection.seats}</td>
                    <td>{subsection.waitlist}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div rv-show="app.tab | eq 2"><!-- ratings -->
            <div class="col col-100">
              TODO RATINGS
            </div>
          </div>
          <div rv-show="app.tab | eq 3"><!-- notify me -->
            <div class="col col-100">
              <h3>Notify me when</h3>
              <p>
                <input type="checkbox" /> class is full<br />
                <input type="checkbox" /> <input type="number" min="0" max="100" step="1" value="10" />% of seats left<br />
                <input type="checkbox" /> seat availability overview <select>
                  <option value="">every day</option>
                  <option value="">every 6 hours</option>
                  <option value="">every hour</option>
                </select><br />
                <input type="text" />
                <input type="button" value="notify me!" />
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>