<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="main.css" type="text/css">
  <script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>
  <script src="partials/d3pie.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/rivets/0.8.1/rivets.bundled.min.js" type="text/javascript"></script>
  <script src="main.js" type="text/javascript"></script>
  <title>PlanIt Triton</title>
</head>
<body>
  <div id="app">
    <div id="sidebar">
      <div id="logo"></div>
      <div id="searchbar">
        <div id="term" rv-on-click="app.toggle_terms" rv-class-expand="app.terms_expanded">
          {app.term.name}
          <i rv-hide="app.terms_expanded" class="material-icons md-18 right">expand_more</i>
          <i rv-show="app.terms_expanded" class="material-icons md-18 right">expand_less</i>
        </div><div id="search">
          <i class="material-icons md-18 left">search</i>
          <input type="text" autocorrect="off" spellcheck="false" rv-value="app.search" placeholder="search..."/>
          <i id="clear" class="material-icons md-18 right" rv-on-click="app.clear_search" rv-show="app.search | ne ''">close</i>
        </div>
        <ul id="term_list">
          <li rv-each-term="app.terms" rv-on-click="app.select_term">{term.term_name}</li>
        </ul>
      </div>
      <ul id="course_list">
        <div class="center" rv-show="app.sidebar_loading">
          <div class="circle"></div>
          <div class="circle"></div>
          <div class="circle"></div>
        </div>
        <div class="darken" rv-show="app.terms_expanded"></div>
        <div class="center" rv-show="app.no_results">
          NO RESULTS FOUND
        </div>
        <li rv-each-course="app.courses | mark app.search" rv-hide="course.hide" rv-class-selected="course.selected" rv-on-click="app.select_course">
          <span class="dept">{course.course_id | grab 0}</span>
          <span class="num">{course.course_id | grab 1}</span>
          <div class="title">{course.course_name | case 1}</div>
        </li>
      </ul>
    </div>
    <div id="navbar" rv-show="app.course | def">
      <div id="course_title">
        <span class="dept">{app.course.course_id | grab 0}</span>
        <span class="num">{app.course.course_id | grab 1}</span>
        <div class="title">{app.course.course_name}</div>
        <div id="course_units" rv-show="app.course.units | def">
          <span class="dept">{app.course.units}</span><div class="title">units</div>
        </div>
      </div>
      <ul id="tabs" class="t1 w3" rv-class-w2="app.show_catalog">
        <li><a href="javascript:scroll_to('overview');">Overview</a></li
        ><li rv-hide="app.show_catalog"><a href="javascript:scroll_to('sections');">Sections</a></li
        ><li><a href="javascript:scroll_to('comparisons');">Comparisons</a></li>
        <hr />
      </ul>
    </div>
    <div id="content_placeholder" rv-hide="app.course | def">select a course to view details</div>
    <div id="content" rv-show="app.course | def">
      <div id="overview">
        <h2 class="line"><span>Overview</span></h2>
        <div class="colgroup">
          <div rv-class-m100="app.show_catalog" class="col m70">
            <h3>Description</h3>
            <p>{app.course.description}</p>
            <h3>Prerequisites</h3>
            <p>{app.course.prereqs}</p>
          </div>
          <div class="col m30" rv-hide="app.show_catalog">
            <h3>Average Grade</h3>
            <p><span class="big">{app.course.avg_gpa | fixed 2 | na} </span>{app.course.avg_gpa | letter}</p>
            <h3>Seats Remaining</h3>
            <p>
              <span class="big">{app.course | seats | na}</span>
              <br />across {app.course.num_sections} section<span rv-hide="app.course.num_sections | eq 1">s</span>
            </p>
            <h3>Workload</h3>
            <p><span class="big">{app.course.workload | fixed 2 | na}</span> <span rv-show="app.course.workload | def">hrs/wk</span></p>
          </div>
        </div>
      </div>
      <h2 class="line" rv-show="app.details_loading"><span class="loading">
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
      </span></h2>
      <div id="sections" rv-hide="app.show_catalog | or app.details_loading">
        <h2 class="line"><span>Sections</span></h2>
        <table id="sections_table">
          <thead>
            <tr>
              <th></th>
              <th>Section</th>
              <th>ID</th>
              <th>Type</th>
              <th>Days</th>
              <th>Time</th>
              <th>Location</th>
              <th>Seats</th>
              <th>Waitlist</th>
              <th>Professor</th>
            </tr>
          </thead>
          <tbody rv-each-section="app.course.details.course_sections">
            <tr class="section">
              <td rv-on-click="app.toggle_expand" rv-class-nosubs="section.no_subsections">
                <span rv-hide="section.no_subsections">
                  <i class="material-icons" rv-hide="section.expanded">expand_more</i>
                  <i class="material-icons" rv-show="section.expanded">expand_less</i>
                </span>
                <i class="material-icons" rv-show="section.no_subsections">remove</i>
              </td>
              <td>{section.section_name}</td>
              <td>{section.section_id | blank 0}</td>
              <td>{section.section_type}</td>
              <td>{section.section_days}</td>
              <td>{section | time}</td>
              <td>{section.location}</td>
              <td>{section | seats}</td>
              <td>{section.section_waitlist | blank -1}</td>
              <td>{section.professor_name}</td>
            </tr>
            <tr class="subsection" rv-each-disc="section.discussions" rv-show="section.expanded">
              <td></td>
              <td>{disc.disc_name}</td>
              <td>{disc.disc_id | blank 0}</td>
              <td>{disc.disc_type}</td>
              <td>{disc.disc_days}</td>
              <td>{disc | time}</td>
              <td>{disc.disc_location}</td>
              <td>{disc | seats}</td>
              <td>{disc.disc_waitlist | blank -1}</td>
              <td></td>
            </tr>
            <tr rv-show="section.expanded"><td></td></tr>
            <tr class="exam" rv-each-exam="section.exams" rv-show="section.expanded">
              <td></td>
              <td></td>
              <td></td>
              <td>{exam.exam_type}</td>
              <td>{exam.exam_date | noyear}</td>
              <td>{exam | time}</td>
              <td>{exam.exam_location}</td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div id="comparisons" rv-hide="app.details_loading" rv-if="app.course.details.comparisons">
        <h2 class="line"><span>Comparisons</span></h2>
        <div class="comps">
          <div class="comp" rv-each-comp="app.course.details.comparisons">
            <div class="prof_name">{comp.professor_name}</div>
            <div rv-show="comp.capes | len">
              <h4>CAPEs</h4>
              <select class="cape_term" rv-value="comp.cape_term" rv-on-change="app.select_cape">
                <option rv-value="cape.term" rv-each-cape="comp.capes">{cape.term}</option>
              </select>
              <div rv-id="comp | pie" class="grade-dist-chart"></div>
              <div class="data-cell">
                <div class="data-info">
                  <span class="big">{comp.current_cape.cape_prof_gpa | fixed 2 | na} </span>
                  {comp.current_cape.cape_prof_gpa | letter}
                </div>
                <div class="data-title">average GPA</div>
              </div>
              <div class="data-cell">
                <div class="data-info">
                  <span class="big">{comp.current_cape.cape_num_evals | na}</span>
                </div>
                <div class="data-title">evals</div>
              </div>
              <div class="data-cell">
                <div class="data-info">
                  <span class="big">{comp.current_cape.cape_study_hrs | fixed 1 | na}</span>
                </div>
                <div class="data-title">study hrs/wk</div>
              </div>
              <div class="data-cell">
                <div class="data-info">
                  <span class="big">{comp.current_cape.cape_rec_prof | fixed 1 | na}<span rv-hide="comp.current_cape.cape_rec_prof | is_na">%</span></span>
                </div>
                <div class="data-title">rcmnd instr</div>
              </div>
              <div class="data-cell">
                <div class="data-info">
                  <span class="big">{comp.current_cape.cape_rec_course | fixed 1 | na}<span rv-hide="comp.current_cape.cape_rec_course | is_na">%</span></span>
                </div>
                <div class="data-title">rcmnd class</div>
              </div>
              
              <br />
              <h4>Rate My Professor</h4>
              <div class="data-cell">
                <div class="data-info">
                  <span class="big">{comp.rmp.overall | rmp}</span>
                </div>
                <div class="data-title">overall</div>
              </div>
              <div class="data-cell">
                <div class="data-info">
                  <span class="big">{comp.rmp.easiness | rmp}</span>
                </div>
                <div class="data-title">easiness</div>
              </div>
              <div class="data-cell">
                <div class="data-info">
                  <span class="big">{comp.rmp.helpful | rmp}</span>
                </div>
                <div class="data-title">helpful</div>
              </div>
              <div class="data-cell">
                <div class="data-info">
                  <span class="big">{comp.rmp.clarity | rmp}</span>
                </div>
                <div class="data-title">clarity</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <a href="/comparisons.html" id="comp_link">
      <i class="material-icons">pie_chart</i>
    </a>
  </div>
</body>
</html>